@model IEnumerable<Callendar.Data.Event>

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Your Events</h1>

<br />
<center>
    <h5>
        Here you can see information of all the events that you have created!
        You can edit, delete or add a new event if you want to!
    </h5>
</center>
<br />
<p>
    <a asp-action="Create">Create new event</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Event_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date_Hour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Collaborators)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.Event_ID)
                </th>
                <td>
                    @Html.DisplayFor(modelItem => item.Date_Hour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Collaborators)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Event_ID">Edit this event</a> |
                    <a asp-action="Delete" onclick="return delete_message()" asp-route-id="@item.Event_ID">Delete this event</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />


<script>

    function delete_message() {
        var r = confirm("Are you sure you want to delete this event?");

        if (r == true) {
            return true;
        }
        else {
            return false;
        }
    }

</script>
